/**
 * Africatvl styles
 *
 * @package 	africatvl-child
 */
/*** Variables ***/
@font-face {
  font-family: 'Crimson Text', serif;
  src: url("../fonts/CrimsonText-Regular.ttf") format("truetype"), url("../fonts/CrimsonText-RegularItalic.ttf") format("truetype"), url("../fonts/CrimsonText-SemiBold.ttf") format("truetype"), url("../fonts/CrimsonText-SemiBoldItalic.ttf") format("truetype"), url("../fonts/CrimsonText-Bold.ttf") format("truetype"), url("../fonts/CrimsonText-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-RegularItalic.ttf") format("truetype"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype"); }

/*** FONTS ***/
h1, .content-area h1, .content-area #main h1 {
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  color: #555555;
  font-family: "Crimson Text", serif; }

.content-area #main h1.entry-title {
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: #555555;
  font-family: "Crimson Text", serif; }

h2, .content-area h2, .content-area #main h2 {
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
  color: #555555;
  font-family: "Crimson Text", serif; }
  @media (max-width: 767px) {
    h2, .content-area h2, .content-area #main h2 {
      font-size: 26px !important; } }

h3, .content-area h3, .content-area #main h3 {
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  color: #555555;
  font-family: "Crimson Text", serif; }

h4, .content-area h3, .content-area #main h3 {
  font-size: 26px;
  font-weight: 700;
  font-style: italic;
  color: #555555;
  font-family: "Crimson Text", serif; }

h5, .content-area h5, .content-area #main h5 {
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: #555555;
  font-family: "Crimson Text", serif; }

p {
  font-size: 16px;
  font-weight: normal;
  color: #555555;
  font-family: "Montserrat", sans-serif;
  line-height: 26px; }

ul li {
  font-size: 16px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif; }
