/**
 * Africatvl styles
 *
 * @package 	africatvl-child
 */

// ---------- Mixins ----------


@mixin box-shadow($args) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	-o-box-shadow: $args;
	box-shadow: $args;
}

@mixin text-shadow($args) {
	-webkit-text-shadow: $args;
	-moz-text-shadow: $args;
	-o-text-shadow: $args;
	text-shadow: $args;
}

@mixin border-radius($args) {
	-webkit-border-radius: $args;
	-moz-border-radius: $args;
	-o-border-radius: $args;
	border-radius: $args;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}


// ---------- Placeholders: Global ----------


%clear-div {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: "";
		clear: both;
		height: 0;
	}
}


// ---------- Styles ----------

/*** Variables ***/
@font-face {
	font-family: 'Crimson Text', serif;
	src: url('../fonts/CrimsonText-Regular.ttf') format('truetype'),
	url('../fonts/CrimsonText-RegularItalic.ttf') format('truetype'),
	url('../fonts/CrimsonText-SemiBold.ttf') format('truetype'),
	url('../fonts/CrimsonText-SemiBoldItalic.ttf') format('truetype'),
	url('../fonts/CrimsonText-Bold.ttf') format('truetype'),
	url('../fonts/CrimsonText-BoldItalic.ttf') format('truetype');
}

// @font-face {
// 	font-family: 'Montserrat', sans-serif;
// 	src: url('../fonts/Montserrat-BlackItalic.ttf') format('truetype'),
// 	url('../fonts/Montserrat-Black.ttf') format('truetype'),
// 	url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype'),
// 	url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
// 	url('../fonts/Montserrat-BoldItalic.ttf') format('truetype'),
// 	url('../fonts/Montserrat-Bold.ttf') format('truetype'),
// 	url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype'),
// 	url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
// 	url('../fonts/Montserrat-MediumItalic.ttf') format('truetype'),
// 	url('../fonts/Montserrat-Medium.ttf') format('truetype'),
// 	url('../fonts/Montserrat-RegularItalic.ttf') format('truetype'),
// 	url('../fonts/Montserrat-Regular.ttf') format('truetype'),
// 	url('../fonts/Montserrat-LightItalic.ttf') format('truetype'),
// 	url('../fonts/Montserrat-Light.ttf') format('truetype'),
// 	url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype'),
// 	url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
// 	url('../fonts/Montserrat-ThinItalic.ttf') format('truetype'),
// 	url('../fonts/Montserrat-Thin.ttf') format('truetype');
// }

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



$crim: 'Crimson Text', serif;
$monset: 'Montserrat', sans-serif;
$white: #ffffff;
$light-gray: #F6F6F6;
$light-blue-gray: #66777D;
$dark-blue-gray: #41555B;
$light-ochre: #AC9F7C;
$dark-ochre: #6C6248;
$light-accent: #824E4E;
$dark-accent: #7D3E3E;
$black: #000000;
$blue: #418ad0;
$dark-blue: #374750;
$orange: #f7941d;
$dark-orange: #eda700;
$accent-red: #d84e2e;
$font-color: #555555;
$yellow-fb: #fbd44a;
$yellow-icons: #ffdf00;
$yellow-border: #edab21;
$breadcrumbs: #E0A139;
$white-boxes: linear-gradient(0deg, #ffffff54, #ffffff54 55%, #fffefe54);
$dark-boxes: linear-gradient(0deg, #00000040, #00000040 40%, #00000040);


/*** FONTS ***/

* {
	font-family: $monset;
}
.lsx-to-widget-title a,
.lsx-to-archive-content-title a {
	font-family: $crim;
}

h1, .content-area h1, .content-area #main h1 {
	font-size: 60px;
	font-weight: 700;
	font-style: italic;
	color: $font-color;
	font-family: $crim;
	@media (max-width: 767px) {
		font-size: 40px !important;
	}
}

.content-area #main h1.entry-title {
	font-size: 22px;
 }

h2, .content-area h2, .content-area #main h2 {
	font-size: 35px;
	font-weight: 700;
	font-style: italic;
	color: $font-color;
	font-family: $crim;
	@media (max-width: 767px) {
		font-size: 30px !important;
	}

}

h3, .content-area h3, .content-area #main h3 {
	font-size: 28px;
	font-weight: 700;
	font-style: italic;
	color: $font-color;
	font-family: $crim;
}

h4, .content-area h3, .content-area #main h3 {
	font-size: 26px;
	font-weight: 700;
	font-style: italic;
	color: $font-color;
	font-family: $crim;
}

h5, .content-area h5, .content-area #main h5 {
	font-size: 22px;
	font-weight: 700;
	font-style: italic;
	color: $font-color;
	font-family: $crim;
}

p {
	font-size: 16px;
	font-weight: normal;
	color: $font-color;
	font-family: $monset;
	line-height: 26px;
}

ul {
	li {
		font-size: 16px;
		line-height: 36px;
		font-family: $monset;
	}
}

body:not(.home) {
	#lsx-banner {
		.page-banner-wrap {
			.page-banner {
				min-height: 400px;
			}
		}
	}
	.wp-block-lsx-blocks-lsx-banner-box {
		.lsx-banner-column {
			.lsx-banner-image-wrap {
				min-height: 400px;
				img#bg-image {
					min-height: 400px;
				}
			}
		}
	}
}


/*** GENERAL STYLE ***/

#masthead {
	.navbar-header {
		.custom-logo-link>img {
			max-height: 75px;
		}
	}
}

.primary-navbar {
	align-items: flex-end;
	text-transform: uppercase;
}

body {
	.breadcrumbs-container {
		a {
			&:not(.btn) {
				color: $breadcrumbs !important;
			}
		}
	} 
}

@media (max-width: 1024px) {
	.wrap.container {
		.content {
			#primary {
				#main {
					section {
						h2.lsx-title {
							color: $white;
							font-size: 18px !important;
							font-style: normal;
						}
					}
				}
			}
		}
	}
}

/*** HOME GALLERY STYLE ***/

.home {
	.wp-block-gallery {
		.blocks-gallery-item figcaption {
			padding: 5px 10px 5px;
			text-align: center;
			font-size: 28px;
			font-weight: 500;
			font-style: italic;
			font-family: $crim;
			background: $dark-boxes;
			a {
				text-align: center;
				font-size: 28px;
				font-weight: 500;
				font-style: italic;
				font-family: $crim;
				color: $white;
			}
		}
	}
	#primary {
		#main {
			.entry-content {
				.wp-block-lsx-blocks-lsx-container {
					.lsx-container-inside {
						.lsx-container-content {
							ul.explore-destinations-gallery {
								display: flex;
								li {
									max-height: 323px;
									flex: 1 1 25%;
									margin-right: 10px;
									margin-bottom: 10px;
									&:first-child, &:last-child {
										flex: 0 1 42%;
									}
								}
								@media (max-width: 767px) {
									li {
										min-height: 315px;
										flex: 0 0 100%;
										&:first-child, &:last-child {
											flex: 0 0 100%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.home {
	.one-third-right {
		.home-white-boxes {
			background: $white-boxes;
			padding-top: 26px;
			padding-bottom: 20px;
			padding-left: 30px;
			margin-right: 0px;
		}
	} 
	.one-third-left {
		.home-white-boxes {
			background: $white-boxes;
			padding-top: 26px;
			padding-bottom: 20px;
			padding-right: 30px;
			margin-left: 0px;
		}
	}
}

.lsx-button, .btn, .lsx-block-button .lsx-button {
	font-weight: 700;
}

#lsx-banner {
	h1.page-title {
		color: $white
	}
}

.home {
	.wp-block-lsx-blocks-lsx-banner-box {
		.lsx-banner-column {
			.lsx-banner-image-wrap {
				max-height: 582px;
				img#bg-image {
					min-height: 582px;
					max-height: 584px;
    				object-fit: cover;
					@media (max-width: 767px) {
						object-fit: cover;
					}
				}
			}
		}
		.lsx-banner-content-wrap {
			.header-headings {
				max-width: 85%;
				@media (max-width: 767px) {
					max-width: 100%;
				}
			}
		}
	}
	.our-team-experts {
		.lsx-container-content {
			background: $dark-boxes;
			padding-top: 1.5%;
			padding-bottom: 2%;
			h2.white {
				font-size: 48px !important;
				font-weight: 500 !important;
				line-height: 52px !important;
			}
		}
	}
	.see-all-tours {
		.lsx-container-inside {
			.lsx-container-content {
				.wp-block-column {
					h2.white {
						font-size: 48px !important;
					}
					@media (max-width: 767px) {
						padding-left: 15px;
    					padding-right: 15px;
					}
					@media (min-width: 768px) and (max-width: 900px) {
						padding-right: 15px;
					}
				}
			}
		}
	}
	.see-all-camps {
		.lsx-container-inside {
			.lsx-container-content {
				.wp-block-column {
					h2.white {
						font-size: 48px !important;
					}
					@media (max-width: 767px) {
						padding-right: 15px;
    					padding-left: 15px;
					}
					@media (min-width: 768px) and (max-width: 900px) {
						padding-left: 15px;
					}
				}
			}
		}
	}
}

.home {
	#primary {
		.wp-block-lsx-blocks-lsx-container {
			.lsx-container-inside {
				.wp-block-tour-operator-block-taxonomy {
					.blsx-taxonomy-bodytn {
						.slider-container {
							.slick-list {
								.lsx-to-widget-thumb {
									pointer-events: none;
									cursor: default;
								}
							}
						}
					}
				}
			}
		}
	}
}

/*** BLOG STYLE ***/

.single-post {
	#primary {
		#main {
			.archive-header-wrapper {
				.archive-header {
					h1.archive-title {
						font-size: 35px;
					}
				}
			}
		}
	}
}

/*** ABOUT PAGE STYLE ***/

.page.about {
	#main {
		.lsx-block-container {
			.lsx-title {
				&:after {
					margin: 0.5rem auto 40px;
				}
			}
			.lsx-title>small {
				font-size: 22px;
				font-style: normal;
				color: #999999;
			}
		}
		.our-team-experts {
			.lsx-container-content {
				background: $dark-boxes;
				padding-top: 1.5%;
				padding-bottom: 2%;
				h2.white {
					font-size: 48px;
					font-weight: 500;
					line-height: 52px;
				}
			}
		}
		.widget.lsx-widget {
			.slider-container {
				.lsx-to-widget-item-wrap {
					article {
						padding-right: 4%;
    					padding-left: 4%;
						p {
							text-align: center;
							a.moretag {
								display: none;
							}
						}
						.lsx-to-widget-thumb {
							img {
								height: 100%;
								object-fit: cover;
							} 
						} 
					}
				}
			}
		}
	}
}

/*** DESTINATION PAGE STYLE ***/

.archive.post-type-archive.post-type-archive-lsx-to-destination {
	h3.lsx-to-archive-content-title {
		margin-bottom: 0rem;
	}
	.lsx-to-archive-meta-data {
		margin-top: 0rem;
	}
}

/*** TO PAGES GENERAL STYLING ***/

.single {
	.lsx-to-navigation {
		ul.scroll-easing.nav {
			li.active a {
				background-color: #ac9f7c;
				color: #ffffff;
			}
		}
	}
}

/*** FOOTER STYLE ***/

#footer-cta {
	background-image: url(../../images/footer.jpg);
	background-size: cover;
	background-position: center;
	.container {
		.lsx-full-width {
			.wpforms-widget {
				background: rgba(255,255,255,0.8);
				padding: 12px 4.25rem;
				.wpforms-container {
					form.wpforms-form {
						.wpforms-head-container {
							.wpforms-description {
								font-family: $monset;
								font-size: 18px;
								font-weight: 300;
							}
						}
						.wpforms-field-container {
							float: left;
    						width: 69%;
						}
						.wpforms-submit-container {
							.wpforms-submit {
								background-color: #522020;
								box-shadow: 2px 2px 0 0 #7d3e3e;
								font-family: $monset;
								font-size: 15px;
								font-weight: normal;
							}
						}
					}
				}
			}
		}
	}
}

#footer-widgets {
	padding: 0px 0 0rem;
	.widget {
		margin-top: 0;
	}
	.widget.widget_nav_menu ul li {
		line-height: 28px;
	}
	.widget-title {
		margin-bottom: 10px;
    	margin-top: 2.4rem;
	}
	.container {
		padding-right: 0px;
    	padding-left: 0px;
    	margin-right: 0px;
		margin-left: 0px;
	}
	.row {
		.widget_text.col-md-3 {
			width: 34%;
			aside#custom_html-2 {
				background-color: white;
    			color: #555555;
    			padding-top: 6%;
    			padding-bottom: 13%;
    			padding-left: 5%;
    			padding-right: 5%;
    			margin-top: 0;
			}
			#media_image-2 {
				padding-bottom: 10%;
			}
		}
	}
	h3.widget-title {
		color: $light-ochre;
	}
}

footer.content-info {
	p.credit {
		color: $white;
	}
}

/*** FOOTER MOBILE STYLE ***/

.home {
	.our-team-experts {
		.lsx-container-inside {
			.lsx-container-content {
				@media (max-width: 767px) {
					max-width: 80% !important;
				}
				h2.white {
					@media (max-width: 767px) {
						line-height: 30px !important;
					}
				}
			}
		}
	}
}

#footer-cta {
	.container {
		.lsx-hero-unit {
			aside#wpforms-widget-2 {
				@media (min-width: 768px) and (max-width: 900px) {
					width: 65%;
				}
				.wpforms-container  {
					.wpforms-field-container {
						@media (max-width: 767px) {
							width: 100%;
						}
						@media (min-width: 768px) and (max-width: 900px) {
							width: 100%;
						}
						@media only (min-width: 900px) and (max-width: 1024px) {
							width: 60%;
						}
					}
				}
			}	
		}
	}
}

#footer-widgets {
	.container {
		.row {
			.widget_text {
				@media (max-width: 767px) {
					width: 100%;
				}
				@media (min-width: 768px) and (max-width: 900px) {
					width: 101%;
					padding-right: 0px;
    				padding-left: 0px;
				}
				aside#custom_html-2 {
					@media only (min-width: 1024px) {
						padding-top: 15%;
    					padding-bottom: 18%;
					}
				}
			}
			.col-md-3:not(.widget_text) {
				@media (max-width: 767px) {
					padding-left: 4.25rem;
				}
				@media (min-width: 768px) and (max-width: 900px) {
					padding-left: 4.25rem;
				}
			}
		}
	}
}

footer#colophon {
	.container {
		.row {
			#footer-navigation {
				ul#menu-terms li {
					@media (max-width: 767px) {
						font-size: 14px;
					}
				}
			}
		}
	}
}