/**
 * Africatvl styles
 *
 * @package 	africatvl-child
 */

// ---------- Mixins ----------


@mixin box-shadow($args) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	-o-box-shadow: $args;
	box-shadow: $args;
}

@mixin text-shadow($args) {
	-webkit-text-shadow: $args;
	-moz-text-shadow: $args;
	-o-text-shadow: $args;
	text-shadow: $args;
}

@mixin border-radius($args) {
	-webkit-border-radius: $args;
	-moz-border-radius: $args;
	-o-border-radius: $args;
	border-radius: $args;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}


// ---------- Placeholders: Global ----------


%clear-div {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: "";
		clear: both;
		height: 0;
	}
}


// ---------- Styles ----------

/*** Variables ***/
@font-face {
	font-family: 'Crimson Text', serif;
	src: url('../fonts/CrimsonText-Regular.ttf') format('truetype'),
	url('../fonts/CrimsonText-RegularItalic.ttf') format('truetype'),
	url('../fonts/CrimsonText-SemiBold.ttf') format('truetype'),
	url('../fonts/CrimsonText-SemiBoldItalic.ttf') format('truetype'),
	url('../fonts/CrimsonText-Bold.ttf') format('truetype'),
	url('../fonts/CrimsonText-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype'),
	url('../fonts/Montserrat-RegularItalic.ttf') format('truetype'),
	url('../fonts/Montserrat-Bold.ttf') format('truetype'),
	url('../fonts/Montserrat-BoldItalic.ttf') format('truetype');
}

$crim: 'Crimson Text', serif;
$monset: 'Montserrat', sans-serif;
$white: #ffffff;
$light-gray: #F6F6F6;
$light-blue-gray: #66777D;
$dark-blue-gray: #41555B;
$light-ochre: #AC9F7C;
$dark-ochre: #6C6248;
$light-accent: #824E4E;
$dark-accent: #7D3E3E;
$black: #000000;
$blue: #418ad0;
$dark-blue: #374750;
$orange: #f7941d;
$dark-orange: #eda700;
$accent-red: #d84e2e;
$font-color: #555555;
$yellow-fb: #fbd44a;
$yellow-icons: #ffdf00;
$yellow-border: #edab21;
$white-boxes: linear-gradient(0deg, #ffffff54, #ffffff54 55%, #fffefe54);
$dark-boxes: linear-gradient(0deg, #00000040, #00000040 40%, #00000040);


/*** FONTS ***/

h1, .content-area h1, .content-area #main h1 {
	font-size: 60px;
	font-weight: 700;
	font-style: italic;
	color: $font-color;
	font-family: $crim;
}

.content-area #main h1.entry-title {
	font-size: 22px;
 }

h2, .content-area h2, .content-area #main h2 {
	font-size: 35px;
	font-weight: 700;
	font-style: italic;
	color: $font-color;
	font-family: $crim;
	@media (max-width: 767px) {
		font-size: 26px !important;
	}

}

h3, .content-area h3, .content-area #main h3 {
	font-size: 28px;
	font-weight: 700;
	font-style: italic;
	color: $font-color;
	font-family: $crim;
}

h4, .content-area h3, .content-area #main h3 {
	font-size: 26px;
	font-weight: 700;
	font-style: italic;
	color: $font-color;
	font-family: $crim;
}

h5, .content-area h5, .content-area #main h5 {
	font-size: 22px;
	font-weight: 700;
	font-style: italic;
	color: $font-color;
	font-family: $crim;
}

p {
	font-size: 16px;
	font-weight: normal;
	color: $font-color;
	font-family: $monset;
	line-height: 26px;
}

ul {
	li {
		font-size: 16px;
		line-height: 36px;
		font-family: $monset;
	}
}

/*** HOME GALLERY STYLE ***/

.home {
	.wp-block-gallery {
		.blocks-gallery-item figcaption {
			padding: 5px 10px 5px;
			text-align: center;
			font-size: 28px;
			font-weight: 500;
			font-style: italic;
			font-family: $crim;
			background: $dark-boxes;
		}
	}
}

.home {
	.one-third-right {
		.home-white-boxes {
			background: $white-boxes;
			padding-top: 26px;
			padding-bottom: 20px;
			padding-left: 30px;
			margin-right: 0px;
		}
	} 
	.one-third-left {
		.home-white-boxes {
			background: $white-boxes;
			padding-top: 26px;
			padding-bottom: 20px;
			padding-right: 30px;
			margin-left: 0px;
		}
	}
}

.lsx-button, .btn, .lsx-block-button .lsx-button {
	font-weight: 700;
}

#lsx-banner {
	h1.page-title {
		color: $white
	}
}

/*** DESTINATION PAGE STYLE ***/

.archive.post-type-archive.post-type-archive-lsx-to-destination {
	h3.lsx-to-archive-content-title {
		margin-bottom: 0rem;
	}
	.lsx-to-archive-meta-data {
		margin-top: 0rem;
	}
}

/*** FOOTER STYLE ***/

#footer-widgets {
	h3.widget-title {
		color: $light-ochre;
	}
}