/**
 * Africatvl styles
 *
 * @package 	africatvl-child
 */
/*** Variables ***/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@font-face {
  font-family: 'Crimson Text', serif;
  src: url("../fonts/CrimsonText-Regular.ttf") format("truetype"), url("../fonts/CrimsonText-RegularItalic.ttf") format("truetype"), url("../fonts/CrimsonText-SemiBold.ttf") format("truetype"), url("../fonts/CrimsonText-SemiBoldItalic.ttf") format("truetype"), url("../fonts/CrimsonText-Bold.ttf") format("truetype"), url("../fonts/CrimsonText-BoldItalic.ttf") format("truetype"); }

/*** FONTS ***/
* {
  font-family: "Montserrat", sans-serif; }

.lsx-to-widget-title a,
.lsx-to-archive-content-title a {
  font-family: "Crimson Text", serif; }

h1, .content-area h1, .content-area #main h1 {
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  color: #555555;
  font-family: "Crimson Text", serif; }
  @media (max-width: 767px) {
    h1, .content-area h1, .content-area #main h1 {
      font-size: 40px !important; } }

.content-area #main h1.entry-title {
  font-size: 22px; }

h2, .content-area h2, .content-area #main h2 {
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
  color: #555555;
  font-family: "Crimson Text", serif; }
  @media (max-width: 767px) {
    h2, .content-area h2, .content-area #main h2 {
      font-size: 30px !important; } }

h3, .content-area h3, .content-area #main h3 {
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  color: #555555;
  font-family: "Crimson Text", serif; }

h4, .content-area h3, .content-area #main h3 {
  font-size: 26px;
  font-weight: 700;
  font-style: italic;
  color: #555555;
  font-family: "Crimson Text", serif; }

h5, .content-area h5, .content-area #main h5 {
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: #555555;
  font-family: "Crimson Text", serif; }

p {
  font-size: 16px;
  font-weight: normal;
  color: #555555;
  font-family: "Montserrat", sans-serif;
  line-height: 26px; }

ul li {
  font-size: 16px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif; }

body:not(.home) #lsx-banner .page-banner-wrap .page-banner {
  min-height: 400px; }

body:not(.home) .wp-block-lsx-blocks-lsx-banner-box .lsx-banner-column .lsx-banner-image-wrap {
  min-height: 400px; }
  body:not(.home) .wp-block-lsx-blocks-lsx-banner-box .lsx-banner-column .lsx-banner-image-wrap img#bg-image {
    min-height: 400px; }

/*** GENERAL STYLE ***/
#masthead .navbar-header .custom-logo-link > img {
  max-height: 75px; }

.primary-navbar {
  align-items: flex-end;
  text-transform: uppercase; }

body .breadcrumbs-container a:not(.btn) {
  color: #E0A139 !important; }

.to-facts-wrapper #fast-facts h3.lsx-to-section-title {
  font-size: 28px;
  color: #333333; }

.to-facts-wrapper #fast-facts .lsx-to-contact-widget {
  background-color: #66777d; }
  .to-facts-wrapper #fast-facts .lsx-to-contact-widget .lsx-to-contact-info h4.lsx-to-contact-name a {
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    font-family: "Crimson Text", serif; }

@media (max-width: 1024px) {
  .wrap.container .content #primary #main section h2.lsx-title {
    color: #ffffff;
    font-size: 18px !important;
    font-style: normal; } }

/*** HOME GALLERY STYLE ***/
.home .wp-block-gallery .blocks-gallery-item figcaption {
  padding: 5px 10px 5px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  font-style: italic;
  font-family: "Crimson Text", serif;
  background: linear-gradient(0deg, #00000040, #00000040 40%, #00000040); }
  .home .wp-block-gallery .blocks-gallery-item figcaption a {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    font-family: "Crimson Text", serif;
    color: #ffffff; }

.home #primary #main .entry-content .wp-block-lsx-blocks-lsx-container .lsx-container-inside .lsx-container-content ul.explore-destinations-gallery {
  display: flex; }
  .home #primary #main .entry-content .wp-block-lsx-blocks-lsx-container .lsx-container-inside .lsx-container-content ul.explore-destinations-gallery li {
    max-height: 323px;
    flex: 1 1 25%;
    margin-right: 10px;
    margin-bottom: 10px; }
    .home #primary #main .entry-content .wp-block-lsx-blocks-lsx-container .lsx-container-inside .lsx-container-content ul.explore-destinations-gallery li:first-child, .home #primary #main .entry-content .wp-block-lsx-blocks-lsx-container .lsx-container-inside .lsx-container-content ul.explore-destinations-gallery li:last-child {
      flex: 0 1 42%; }
  @media (max-width: 767px) {
    .home #primary #main .entry-content .wp-block-lsx-blocks-lsx-container .lsx-container-inside .lsx-container-content ul.explore-destinations-gallery li {
      min-height: 315px;
      flex: 0 0 100%; }
      .home #primary #main .entry-content .wp-block-lsx-blocks-lsx-container .lsx-container-inside .lsx-container-content ul.explore-destinations-gallery li:first-child, .home #primary #main .entry-content .wp-block-lsx-blocks-lsx-container .lsx-container-inside .lsx-container-content ul.explore-destinations-gallery li:last-child {
        flex: 0 0 100%; } }

.home .one-third-right .home-white-boxes {
  background: linear-gradient(0deg, #ffffff54, #ffffff54 55%, #fffefe54);
  padding-top: 26px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-right: 0px; }

.home .one-third-left .home-white-boxes {
  background: linear-gradient(0deg, #ffffff54, #ffffff54 55%, #fffefe54);
  padding-top: 26px;
  padding-bottom: 20px;
  padding-right: 30px;
  margin-left: 0px; }

.lsx-button, .btn, .lsx-block-button .lsx-button {
  font-weight: 700; }

#lsx-banner h1.page-title {
  color: #ffffff; }

.home .wp-block-lsx-blocks-lsx-banner-box .lsx-banner-column .lsx-banner-image-wrap {
  max-height: 582px; }
  .home .wp-block-lsx-blocks-lsx-banner-box .lsx-banner-column .lsx-banner-image-wrap img#bg-image {
    min-height: 582px;
    max-height: 584px;
    object-fit: cover; }
    @media (max-width: 767px) {
      .home .wp-block-lsx-blocks-lsx-banner-box .lsx-banner-column .lsx-banner-image-wrap img#bg-image {
        object-fit: cover; } }

.home .wp-block-lsx-blocks-lsx-banner-box .lsx-banner-content-wrap .header-headings {
  max-width: 85%; }
  @media (max-width: 767px) {
    .home .wp-block-lsx-blocks-lsx-banner-box .lsx-banner-content-wrap .header-headings {
      max-width: 100%; } }

.home .our-team-experts .lsx-container-content {
  background: linear-gradient(0deg, #00000040, #00000040 40%, #00000040);
  padding-top: 1.5%;
  padding-bottom: 2%; }
  .home .our-team-experts .lsx-container-content h2.white {
    font-size: 48px !important;
    font-weight: 500 !important;
    line-height: 52px !important; }

.home .see-all-tours .lsx-container-inside .lsx-container-content .wp-block-column h2.white {
  font-size: 48px !important; }

@media (max-width: 767px) {
  .home .see-all-tours .lsx-container-inside .lsx-container-content .wp-block-column {
    padding-left: 15px;
    padding-right: 15px; } }

@media (min-width: 768px) and (max-width: 900px) {
  .home .see-all-tours .lsx-container-inside .lsx-container-content .wp-block-column {
    padding-right: 15px; } }

.home .see-all-camps .lsx-container-inside .lsx-container-content .wp-block-column h2.white {
  font-size: 48px !important; }

@media (max-width: 767px) {
  .home .see-all-camps .lsx-container-inside .lsx-container-content .wp-block-column {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) and (max-width: 900px) {
  .home .see-all-camps .lsx-container-inside .lsx-container-content .wp-block-column {
    padding-left: 15px; } }

.home #primary .wp-block-lsx-blocks-lsx-container .lsx-container-inside .wp-block-tour-operator-block-taxonomy .blsx-taxonomy-bodytn .slider-container .slick-list .lsx-to-widget-thumb {
  pointer-events: none;
  cursor: default; }

/*** BLOG STYLE ***/
.single-post #primary #main .archive-header-wrapper .archive-header h1.archive-title {
  font-size: 35px; }

/*** ABOUT PAGE STYLE ***/
.page.about #main .lsx-block-container .lsx-title:after {
  margin: 0.5rem auto 40px; }

.page.about #main .lsx-block-container .lsx-title > small {
  font-size: 22px;
  font-style: normal;
  color: #999999; }

.page.about #main .our-team-experts .lsx-container-content {
  background: linear-gradient(0deg, #00000040, #00000040 40%, #00000040);
  padding-top: 1.5%;
  padding-bottom: 2%; }
  .page.about #main .our-team-experts .lsx-container-content h2.white {
    font-size: 48px;
    font-weight: 500;
    line-height: 52px; }

.page.about #main .widget.lsx-widget .slider-container .lsx-to-widget-item-wrap article {
  padding-right: 4%;
  padding-left: 4%; }
  .page.about #main .widget.lsx-widget .slider-container .lsx-to-widget-item-wrap article p {
    text-align: center; }
    .page.about #main .widget.lsx-widget .slider-container .lsx-to-widget-item-wrap article p a.moretag {
      display: none; }
  .page.about #main .widget.lsx-widget .slider-container .lsx-to-widget-item-wrap article .lsx-to-widget-thumb img {
    height: 100%;
    object-fit: cover; }

/*** DESTINATION PAGE STYLE ***/
.archive.post-type-archive.post-type-archive-lsx-to-destination h3.lsx-to-archive-content-title {
  margin-bottom: 0rem; }

.archive.post-type-archive.post-type-archive-lsx-to-destination .lsx-to-archive-meta-data {
  margin-top: 0rem; }

/*** TO PAGES GENERAL STYLING ***/
.single .lsx-to-navigation ul.scroll-easing.nav li.active a {
  background-color: #ac9f7c;
  color: #ffffff; }

/*** FOOTER STYLE ***/
#footer-cta {
  background-image: url(../../images/footer.jpg);
  background-size: cover;
  background-position: center; }
  #footer-cta .container .lsx-full-width .wpforms-widget {
    background: rgba(255, 255, 255, 0.8);
    padding: 12px 4.25rem; }
    #footer-cta .container .lsx-full-width .wpforms-widget .wpforms-container form.wpforms-form .wpforms-head-container .wpforms-description {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 300; }
    #footer-cta .container .lsx-full-width .wpforms-widget .wpforms-container form.wpforms-form .wpforms-field-container {
      float: left;
      width: 69%; }
    #footer-cta .container .lsx-full-width .wpforms-widget .wpforms-container form.wpforms-form .wpforms-submit-container .wpforms-submit {
      background-color: #522020;
      box-shadow: 2px 2px 0 0 #7d3e3e;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: normal; }

#footer-widgets {
  padding: 0px 0 0rem; }
  #footer-widgets .widget {
    margin-top: 0; }
  #footer-widgets .widget.widget_nav_menu ul li {
    line-height: 28px; }
  #footer-widgets .widget-title {
    margin-bottom: 10px;
    margin-top: 2.4rem; }
  #footer-widgets .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px; }
  #footer-widgets .row .widget_text.col-md-3 {
    width: 34%; }
    #footer-widgets .row .widget_text.col-md-3 aside#custom_html-2 {
      background-color: white;
      color: #555555;
      padding-top: 6%;
      padding-bottom: 13%;
      padding-left: 5%;
      padding-right: 5%;
      margin-top: 0; }
    #footer-widgets .row .widget_text.col-md-3 #media_image-2 {
      padding-bottom: 10%; }
  #footer-widgets h3.widget-title {
    color: #AC9F7C; }

footer.content-info p.credit {
  color: #ffffff; }

/*** FOOTER MOBILE STYLE ***/
@media (max-width: 767px) {
  .home .our-team-experts .lsx-container-inside .lsx-container-content {
    max-width: 80% !important; } }

@media (max-width: 767px) {
  .home .our-team-experts .lsx-container-inside .lsx-container-content h2.white {
    line-height: 30px !important; } }

@media (min-width: 768px) and (max-width: 900px) {
  #footer-cta .container .lsx-hero-unit aside#wpforms-widget-2 {
    width: 65%; } }

@media (max-width: 767px) {
  #footer-cta .container .lsx-hero-unit aside#wpforms-widget-2 .wpforms-container .wpforms-field-container {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 900px) {
  #footer-cta .container .lsx-hero-unit aside#wpforms-widget-2 .wpforms-container .wpforms-field-container {
    width: 100%; } }

@media (min-width: 900px) and (max-width: 1024px) {
  #footer-cta .container .lsx-hero-unit aside#wpforms-widget-2 .wpforms-container .wpforms-field-container {
    width: 60%; } }

@media (max-width: 767px) {
  #footer-widgets .container .row .widget_text {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 900px) {
  #footer-widgets .container .row .widget_text {
    width: 101%;
    padding-right: 0px;
    padding-left: 0px; } }

@media (min-width: 1024px) {
  #footer-widgets .container .row .widget_text aside#custom_html-2 {
    padding-top: 15%;
    padding-bottom: 18%; } }

@media (max-width: 767px) {
  #footer-widgets .container .row .col-md-3:not(.widget_text) {
    padding-left: 4.25rem; } }

@media (min-width: 768px) and (max-width: 900px) {
  #footer-widgets .container .row .col-md-3:not(.widget_text) {
    padding-left: 4.25rem; } }

@media (max-width: 767px) {
  footer#colophon .container .row #footer-navigation ul#menu-terms li {
    font-size: 14px; } }
